.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Project Card */
.app__work-item {
  width: 270px;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 2000px) {
    width: 470px;
    padding: 1.25rem;
  }
}

/* Project Image */
.app__work-img {
  width: 100%;
  height: 230px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

/* Project Text */
.app__work-content {
  padding: 0.5rem;
  width: 100%;
  flex-direction: column;

  h4 {
    margin-top: 1rem;
    font-weight: bold;
  }
}
